# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user

# report files & files
/report/*.RData
#/report/*.pdf #keep for demo
/report/*.log
/report/*.tex
/report/*.gz
/report/figure/*

# log files
*.log
/log_missing_environ.csv
/log_missing_report_epidemiology.csv

# documentation extras
/documentation/figs/*
/documentation/*.tex

#epi, env, data datasets 
#will be handled by lfs
#/data_epidemiological/*
#/data_environmental/*
#/data/*

#pdfs : handled by lfs
#/report/*.pdf
#/documentation/*.pdf